SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432
SUFFIX=
SPRING_DRIVER_CLASS_NAME=org.postgresql.Driver
JWT_SECRET_KEY=DSCF2025DSCF2025DSCF2025DSCF2025
# budget database connection settings
SPRING_DATASOURCE_URL_BUDGET=${SPRING_DATASOURCE_URL}/budget${SUFFIX}
SPRING_DATASOURCE_USERNAME_BUDGET=postgres
SPRING_DATASOURCE_PASSWORD_BUDGET=postgres

#budget administration settings
SPRING_DATASOURCE_URL_ADMIN=${SPRING_DATASOURCE_URL}/budget_administration${SUFFIX}
SPRING_DATASOURCE_USERNAME_ADMIN=postgres
SPRING_DATASOURCE_PASSWORD_ADMIN=postgres

#budget SECURITY settings
SPRING_DATASOURCE_URL_SECURITY=${SPRING_DATASOURCE_URL}/budget_security${SUFFIX}
SPRING_DATASOURCE_USERNAME_SECURITY=postgres
SPRING_DATASOURCE_PASSWORD_SECURITY=postgres