SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_local:5432
SUFFIX=
SPRING_DRIVER_CLASS_NAME=org.postgresql.Driver
JWT_SECRET_KEY=DSCF2025DSCF2025DSCF2025DSCF2025
# budget database connection settings
# osea esta parte es del API Budget??????? y debo crear otra de estas 3 lineas para el ms_budget????? y como le pongo /?????
SPRING_DATASOURCE_URL_BUDGET=${SPRING_DATASOURCE_URL}/budget${SUFFIX}
SPRING_DATASOURCE_USERNAME_BUDGET=admin
SPRING_DATASOURCE_PASSWORD_BUDGET=secret

#budget administration settings
SPRING_DATASOURCE_URL_ADMIN=${SPRING_DATASOURCE_URL}/budget_administration${SUFFIX}
SPRING_DATASOURCE_USERNAME_ADMIN=admin
SPRING_DATASOURCE_PASSWORD_ADMIN=secret

#budget SECURITY settings
SPRING_DATASOURCE_URL_SECURITY=${SPRING_DATASOURCE_URL}/budget_security${SUFFIX}
SPRING_DATASOURCE_USERNAME_SECURITY=admin
SPRING_DATASOURCE_PASSWORD_SECURITY=secret

CLIENT_SERVICE_USER_URL=http://ms-security:8080
CLIENT_SERVICE_ADMIN_URL=http://ms-administration:8080